body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  display:flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-height: 100vh;
}

button {
  background-color: #3882F6;
  color: #F9FAF8;
  border: 0;
  padding: 8px 32px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 900;
}

/* Hero/Header section */

.hero,
.footer {
  background-color: #1F2937;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 200px;
}

.main-text {
  color: #F9FAF8;
  font-weight: 900;
}

.secondary-text{
  font-size: 18px;
  color: #E5E7EB;
}

.header,
.hero-content{
  width: 1100px;
}

.header {
  display: flex;
  align-items: center;
  font-size: 24px;
  padding: 20px 0px;
  /* The text in our header should not wrap when screen is squished */
  white-space: nowrap;
}

.header .logo {
  margin-right: auto;
}

.header ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 18px;
}

.header a {
  text-decoration: none;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 130px 0px;
  gap: 60px;
}

.hero-content .main-text {
  font-size: 48px;
}

.hero-content .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; 
  width: 475px;
  gap: 8px;
  flex-shrink: 0;
  margin-right: auto;
}
.hero-content img {
  display: flex;
  flex-shrink: 0;
  width: 600px;
  height: auto;
  background-color: #6D747D;
  justify-content: center;
  align-items: center;
}

/* Information section */
.info-section {
  color: #1F2937;  
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 400px 100px;
}

.info-title {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 48px;
  white-space: nowrap;
}

.info-container {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  align-items: center;
}

.img-container {
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-container img {
  border: 5px solid #3882F6;
  border-radius: 10px;
  width: 150px;
  height: 150px;
  margin-bottom: 8px;
}

.img-container .subtext {
  font-size: 15px;
  text-align: center;
}

/* Quote section */
.quote-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E5E7EB;
  color: #1F2937;
  padding: 150px 400px;
}

.quote-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.quote-text {
  font-size: 36px;
  font-style: italic;
  font-weight: 100;
  align-self: flex-start;
  width: 830px;
}

.quote-author {
  font-size: 24px;
  font-weight: 900;
  align-self: flex-end;
}

/* Call To Action (CTA) section */
.cta-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 200px;
}

.cta-container {
  background-color: #3882F6;
  border-radius: 10px;
  display: flex;
    /* The text should not wrap when screen is squished */
    white-space: nowrap;
  padding: 50px 100px;
  gap: 120px;
  justify-content: space-around;
  align-items: center;
}

.cta-container .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cta-container .main-text {
  font-size: 24px;
}

.cta-container button {
  border: 2px solid #F9FAF8;
  padding: 5px 30px;
}

/* Footer section */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0px;
  flex-grow: 1;
}